
.contact{
    width: 100%;
    height: auto;
    padding: 1em;
    background: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .content-contact{
    width: 90%;
    height: auto;
    display: flex;
}
.contact .content-contact .address{
    width: 450px;
}
.contact .address .address__item{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1em;
    
}
.contact .address .address__item i{
    font-size: 1.5em;
    margin-right: .5em;
    background: var(--midnight-green);
    width: 40px;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--beige);
}
.contact .address .address__item h3{
    font-size: 18px;
    color: var(--midnight-green);
}
.contact .address .address__item p{
    font-size: 14px;
    color: var(--air-force-blue);
}
.contact .address .address__item div{margin-left: .5em;}
.contact .content-contact .form-content{
    width: calc(100% - 450px);
    height: auto;
    display: flex;
    justify-content: center;
}
.contact .form{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    background: transparent;
    padding: 1.4em;
}
.contact .form .row-form{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1em;
}
.contact .form label{
    width: 100%;
}
.contact .row-form label{width: 50%;}

.contact .form label input,
.contact .form textarea{
    width: 100%;
    padding:.4em;
    outline: none;
    font-size: 16px;
    border-radius: .1em;
    border: 1px solid var(--air-force-blue);
    background: transparent;
}
.contact .form label input:focus,
.contact .form textarea:focus{
    border-color: var(--midnight-green);
}
.contact .form textarea{
    height: 250px;
}
.contact .form input[type="submit"]{
    width: 50%;
    padding: .4em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--beige);
    background: var(--rich-black);
}
@media screen and (max-width:920px) {
    .contact .content-contact{
        flex-direction: column;
        width: 100%;
    }
    .contact .content-contact .form-content,
    .contact .content-contact .address{
        width: 100%;
        padding: .5em 0em;
    }
}